@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

.fc {
  --fc-border-color: #e2e8f0;
  --fc-button-bg-color: #0284c7;
  --fc-button-border-color: #0284c7;
  --fc-button-hover-bg-color: #0369a1;
  --fc-button-hover-border-color: #0369a1;
  --fc-today-bg-color: #f0f9ff;
}
